.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
}

.post__bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post__top {
  display: flex;
  align-items: center;
  padding: 15px;
}
.post__avatar {
  margin-right: 10px;
}
.post__image > img {
  width: 20%;
  /* height: 40%; */
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}
.post__topInfo > h3 {
  font-size: medium;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightcyan;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}
.post__option {
  display: flex;
  justify-content: center;
  padding: 5px;
  flex: 1;
}
.post__option > p {
  margin-left: 10px;
}

.post__option:hover {
  background-color: gray;
  border-radius: 13px;
}
